* {
    box-sizing: border-box;
}

.safe-font {
    font-family: Arial;
}

.google-font {
    font-family: "Noto Serif", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.custom-font {
    font-family: "SchoolBook", serif;
    font-weight: 700;
}